// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #027BE3
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

$interseguro = #009FDA
$interseguro-header = #0039A6
$interseguro-text = #CECFCB
$interseguro-secondary-1 = #CA005D
$interseguro-secondary-2 = #FDC82F
$interseguro-secondary-3 = #FF5800
$interseguro-secondary-4 = #34B233
$boton = #009FDA
